html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.semfundo {
    width: 250px;
    margin-bottom: 20px;
}

h1 {
    font-weight: normal;
    color: #000000;
    font-size: 20px;
    text-align: center;
}

.formlogin {
    width: 100%;
    max-width: 400px;
}

.formlogin fieldset {
    background: #ffffff;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

.formlogin label {
    margin-top: 10px;
    display: block;
    margin-bottom: 5px;
}

#nome, #email, #pass, .btm {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.btm {
    margin-top: 15px;
    background-color: #dbff22;
    border: 1px solid #dbff22;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

a input[type="submit"]:hover {
    background-color: #8d50ff;
}

.input-cadastro {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.048);
}
