body{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}        
header{
    width: 100%;
    height: 100%;
    background-color: #8d50ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabecario{
    display: flex;
    align-items: center;
}
.texto-logo{
    height: 100px;
    margin: 5px 70px;
    margin-top: 30px;
}
.formlogin fieldset{
            border-color: #e7e7e7;
            width: 400px;
            height: 110px;
            margin-left: 35%;
            margin-top:50px;
            border-radius: 10px;
        }
h1{
            margin-top: 50px;
            text-align: center;
        }
#text{
            width: 300px;
            box-sizing: border-box;
            padding: 10px;
            font-size: 20px;
            font-family: sans-serif;
            border-radius: 10px;
            border:1px solid;
        }
.btm{
            margin-top: 15px;
            background-color:#dbff22;
            border: 1px solid #dbff22;
            color: #000000;
            font-family:'Times New Roman', Times, serif;
            padding:10px;
            border-radius: 100px;
            font-size: 15px;
            cursor: pointer;
        }

.fixarRodape {
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
        background: #8d50ff;
        padding: 25px;
        font-size: 12px;
        color:#00ff43;
        letter-spacing: 5px;
        text-align: center;
    }