{% extends 'base.html' %}

{% block conteudo %}

<header class="top-site">

    <div class="conteudo-topo">

        <div class="conteudo-left-logo">
            <img src="{{url_for('static',filename='img/logo.png')}}" alt="" >
        </div>

        <div class="conteudo-right-nav">

            <form action="https://google.com/search" target="_blank">
                <input type="text" name="q" id="pesquisa" class="pesquisa" placeholder="Pesquise no mercado digital">
                <button class="button"></button>
            </form>

        </div>

    </div>

</header>

<nav>

</nav>

<main>

</main>

{% endblock %}